# Liveblocks Public Key for Real-Time Synchronization & Presence
NEXT_PUBLIC_LIVEBLOCKS_PUBLIC_KEY=pk_dev_YOUR_LIVEBLOCKS_PUBLIC_KEY

# OpenAI API Key for Live AI Architecture Generation
OPENAI_API_KEY=sk-proj-YOUR_OPENAI_API_KEY
